<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <custom_payment_method>
                <payment_action>authorize</payment_action>
                <model>Ahrk\CustomPaymentMethod\Model\PaymentMethod</model>
                <active>1</active>
                <title>Custom Payment Method</title>
                <order_status>pending_payment</order_status>
            </custom_payment_method>
        </payment>
    </default>
</config>
